<%provide(:title, t('static_page.contact.welcome'))%>
<h1><%= t('static_page.contact.welcome') %></h1>
<p>
  <%= t('static_page.contact.content') %>
  <a href="https://www.railstutorial.org/contact"> <%= t('static_page.contact.content_continue') %></a>.
</p>